* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212126;
}

#headerSection {
    background-color: #212126;
    padding: 20px 50px;
}

#logoSearch {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logoSearch img {
    width: 200px;
}

#logoSearch input {
    flex: 1;
    height: 35px;
    padding: 5px 10px;
    background-color: #212126;
    border: 1px solid #cccccc;
    color: #ffddff;
}

#logoSearch button {
    padding: 10px 19px;
    background-color: #4d3bdb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

#filters {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    overflow-x: auto;
    border-bottom: solid 3px #cccccc;
    border-radius: 3px;
    width: 760px;
    margin-top: 30px;
}

#filters button {
    background-color: #4d3bdb;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
}

#jobSearch {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
}


#allJobs {
    display: flex;
    padding: 16px 54px;
    gap: 20px;

}

.jobDeatails {
    width: 50%;
    height: 300px;
    background-color: #292930;
    /* border: solid 2px white; */
    padding: 16px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    /* Smooth movement */

}

.jobDeatails:hover {
    transform: translateY(-10px);
    /* 10px upar */
}

#firstDiv {
    display: flex;
    justify-content: space-between;
    color: #d0d0d0;
}

#firstDiv img {
    width: 50px;
}

.h2 {
    color: #4d3bdb;
}

h5 {
    background-color: #ffddff;
    width: 80px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    font-weight: 200;
}

.location {
    color: #d0d0d0;
    /* margin-top: 50px; */
}

.views {
    margin-top: 50px;
    color: #d0d0d0;
    font-size: 16px;
    text-align: end;
}

.secondDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.days {
    font-weight: 100;
    color: #d0d0d0;
}

.post {
    color: #d0d0d0;
}

span {
    color: #4d3bdb;
}